.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Facebook{
    width: 90px;
    height: 50px;
}

.logo{
    padding-top: 40px;
    padding-left: 20px;
}

.middle{
    display: flex;
    gap: 20px;
}

.middle h1{
    font-weight: bolder;
    font-size: 60px;
    line-height: 1.2;
}

.middle img{
    width: 800px;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

