@import "tailwindcss";

@font-face {
  font-family: 'FacebookSans';
  src: url('./Font/FacebookSansRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FacebookSans';
  src: url('./Font/FacebookSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: 'FacebookSans', sans-serif;
}